* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
  }

body {
  background: rgb(235, 176, 176);
  background: radial-gradient(circle, rgba(235, 176, 176, 1) 43%, rgba(223, 73, 73, 1) 70%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


header {
  font-weight: 500;
  font-size: large;
  color: rgb(48, 48, 38);
  background: rgba(248, 105, 105, 0.308);
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 5;
  /* border-bottom: 2px solid #999; */
}


footer {
  /* background-color: #333;
  color: #fff; */
  background: rgba(224, 99, 99, 0.219);
  color: rgb(48, 48, 38);
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  width: 100%;
  /* border-top: 2px solid #999 */
}

